.container {
	width: 250px;
	/* background-color: red; */
}

.container:hover .addtocart{
	opacity: 1;
	bottom: 20px;
}

.imagewrapper {
	position: relative;
}

.productimage {
	width: 250px;
	height: 350px;
	object-fit: contain;
}

.addtocart {
	opacity: 0;
	width: fit-content;
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.productdetails {
	padding: 5px 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.brand-fav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.brand {
	font-size: 14px;
}

.fav{
	cursor: pointer;
}

.itemtitle {
	width: 100%;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.price {
	font-weight: 600;
	font-size: 14px;
}