.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  font-weight: 600;
}

.closeBtn svg{
  cursor: pointer;
  width: 50px;
  height: 20px;
  transform: translateY(5px);
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}