.container {
	width: 380px;
	height: 175px;
	padding: 5px;
	display: flex;
	gap: 10px;
}

.imagewrapper {
}

.image{
	width: 80px;
	height: 110px;
}

.detailswrapper {
	width: 100%;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.producttitlewrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.producttitle {
	font-size: 14px;
}

.size-color-editbtn {
	display: flex;
	align-items: center;
}

.editicon {
	/* width: 15px;
	height: 15px; */
	color: grey;
}

.qty{
	display: flex;
	width: 90px;
	height: 45px;
	border: 1px solid rgb(197, 195, 195);
}

.decqty, .incqty {
	flex: 1;
	background-color: white;
	border: none;
	color: grey;
	font-size: 22px;
	cursor: pointer;
}

.input {
	flex: 1;
	min-width: 0px;
	border: none;
	text-align: center;
}
