.container {
  display: flex;
  margin-bottom: 25px;
  gap: 30px;
}

.pdctInfo {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.pdctTitle {
  width: 150px;
}

.df {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdctImg {
  width: 80px;
  height: 110px;
}

.binIcon {
  cursor: pointer;
}

.itemsQuantity {
  width: fit-content;
  display: flex;
  border: 1px solid black;
}

.decreaseQtty,
.increaseQtty {
  width: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.input {
  width: 40px;
  height: 40px;
  border: none;
  text-align: center;
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
