.container {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
}

.imgWrapper {
  display: flex;
}

.carouselImg {
  width: 100%;
}

.leftBtn {
  background: none;
  border: none;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 40%;
}

.rightBtn {
  background: none;
  border: none;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 40%;
}
