.container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.imgWrapper {
  display: flex;
}

.carouselImg {
  width: 1110px;
}

.leftBtn {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: red;
  top: 45%;
}

.rightBtn {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: red;
  top: 45%;
  right: 0;
}