.colorswrapper {
	display: flex;
	gap: 10px;
}

.colorwrapper {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	outline: 1px solid lightgrey;
	outline-offset: 1.5px;
	cursor: pointer;
	position: relative;
}

.colorwrapper:hover {
	outline: 1px solid black;
	outline-offset: 2px;
}